<div class="comments-row">
    <mat-form-field>
        <input type="text" matInput placeholder="Laissez un commentaire..." [formControl]="commentCtrl"/>
    </mat-form-field>
    <button mat-icon-button color="primary" (click)="onLeaveComment()">
        <mat-icon>send</mat-icon>
    </button>
</div>
<h2>Utilisateurs</h2>
<p *ngFor="let person of persons"> {{person | presenter }}</p>
    <mat-list *ngIf="comments.length != 0" @list>
        <h2 matSubheader highlight color="orange">Commentaires</h2>
        <mat-list-item *ngFor="let comment of comments; let i=index" 
        [@listItem]="animationStates[i]"
        (mouseenter)="onMouseIn(i)"
        (mouseleave)="onMouseOut(i)">
            <span class="comment-text" >{{comment.comment}}</span>
            <span class="comment-date" mat-card-subtitle >{{comment.createdDate | timeAgo }}</span>

        </mat-list-item>
    </mat-list>